APP_PORT=3000

POSTGRES_DB=tunidex
POSTGRES_USER=tunidex
POSTGRES_PASSWORD=change_this_password

JWT_SECRET=change_this_secret
API_KEY=

DEFAULT_ADMIN_EMAIL=admin@tunibots.com
DEFAULT_ADMIN_PASSWORD=l$?oF&9/35W?
DEFAULT_AGENT_EMAIL=agent@tunibots.com
DEFAULT_AGENT_PASSWORD=l$?oF&9/35W?
