APP_PORT=3017

POSTGRES_DB=tunibots
POSTGRES_USER=tunibots
POSTGRES_PASSWORD=change_this_password

JWT_SECRET=replace_with_a_long_random_secret
API_KEY=
AUTH_SECRET=
AUTH_URL=https://www.tunibots.com

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_CALLBACK_URL=https://www.tunibots.com/api/auth/callback/google
GOOGLE_SCOPES=openid email profile

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_REDIRECT_URI=
FACEBOOK_CALLBACK_URL=https://www.tunibots.com/api/auth/callback/facebook
FACEBOOK_SCOPES=email public_profile

APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
APPLE_REDIRECT_URI=
APPLE_CALLBACK_URL=https://www.tunibots.com/api/auth/callback/apple
APPLE_SCOPES=name email

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_CALLBACK_URL=
DISCORD_SCOPES=identify email

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=
GITHUB_CALLBACK_URL=
GITHUB_SCOPES=read:user user:email

MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REDIRECT_URI=
MICROSOFT_CALLBACK_URL=
MICROSOFT_SCOPES=openid profile email

WHATSAPP_BOT_WEBHOOK_URL=
WHATSAPP_BOT_WEBHOOK_TOKEN=

DEFAULT_ADMIN_EMAIL=admin@tunibots.com
DEFAULT_ADMIN_PASSWORD='l$?oF&9/35W?'
DEFAULT_AGENT_EMAIL=agent@tunibots.com
DEFAULT_AGENT_PASSWORD='l$?oF&9/35W?'
